.jumbotron {
  padding:70px 0px 70px 0px;
  margin: 0px auto;
  height: 500px;
}

.title {
  font-size:300%;
  font-weight:800;
  color:#c5592b;
}

.orangetext {
  font-size:300%;
  font-weight:800;
  color: #ff4d00;
}

.orangetextsmall {
  margin-left: 8px;
  color: #ff4d00;
}

.blacktext {
  font-size:300%;
  font-weight:1000;
}

.blacktexttitle {
  font-size:300%;
  font-weight:1000;
}

.smalltext {
  font-size: 85%;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  min-height: 400px;
}

.row-title {
  margin: 0px auto;
  padding: 50px 0px 0px 0px;
}

.img-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  max-width: auto;
}