.centrado {
  padding: 0px 30px 0px 30px;
  margin: 0px;
}

.jumbotron {
  padding:70px 0px 70px 0px;
  margin: 0px auto;
  height: 500px;
}

.title {
  font-size:300%;
  font-weight:800;
  color:#c5592b;
}

.orangetext {
  font-size:300%;
  font-weight:800;
  color: #ff4d00;
  font-family: Shopify-Sans-Black-Regular;
}

.orangetextsmall {
  margin-left: 8px;
  color: #ff4d00;
  font-family: Shopify-Sans-Black-Regular;
}

.blacktext {
  font-size: 190%;
  font-weight:1000;
}

.blacktexttitle {
  font-size:300%;
  font-weight:1000;
}

.smalltext {
  font-size: 100%;
}

.whitetext {
  font-size: 190%;
  font-weight:1000;
  color: #fff;
}

.whitetexttitle {
  font-size:300%;
  font-weight:500;
  color: #fff;
}

.whitetextsmall {
  font-size:150%;
  font-weight: 400;
  margin-top: 20px;
  color: #fff;
}

.img-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: 0;
}

.img-footer {
  position: absolute;
  left: 0;
  padding: 0px 0px;
  height: 500px;
  width: 100%;
  min-height: 900px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 200px;
  min-height: 100px;
  width: 250px;
  height: 50px;
  padding-left: 70px;
}

.z {
  z-index: 1;
}

@font-face {
  font-family: Shopify-Sans-Black-Regular;
  src: url(./shared/Shopify-Sans-Black-Regular.ttf);
}

.icon {
  font-size: 1000%;
  color: #fff;
  margin-bottom: 30px;
}